.film__container{
    background: url('https://homepage.momocdn.net/img/momo-upload-api-211001091715-637686766356856456.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}


.ant-card .ant-card-bordered{
    background:transparent;
}

.flim__title{
    font-size: .9375rem;
}

.flim__title:hover{
    color: #a50064;
    cursor: pointer;
}